
/*--------------------------------------------------------------------------------------*/
/*CSS for Navigation Bar*/

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Calibri Light', sans-serif;
}

header{
  background-color:#ffffff;
}

li{
  list-style: none;
}

a{
  color: #8E8D8A;
  text-decoration:none;
}

.navbar{
  min-height:70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: solid 10px #d8cfb2;
}

.nav-elem {
  font-size: 1.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  
}

/*css for Torlex & Top*/
.nav-name {
  font-size: 3vw;
  color: #66655f;

  font-family: 'Snell Roundhand', sans-serif;
}

.nav-link {
  transition:0.6s;

}

/*create hover effect for the navigation links*/

.nav-link:hover{
  background-color: #c4b99cfb;
  color: #ffffff;
  padding: 20px 20px;
}

.hamburger{
  display:none; /*Don't want the hamburger to appear, we only want it to appear when the window is minimized*/
  cursor:pointer;
}

.bar{
  display:block;
  width:25px; /*sets wthe width of the hamburger bars*/
  height: 3px; /*sets the height of the hamburger bars*/
  margin: 5px auto; /*sets the spacing of the hamburger bars*/
  background-color: #777;
}


@media(max-width:1380px){
  .hamburger{
    display: block; /*displays the hamburger and the given max-width*/
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg); /*sets it so that the first hamburger bar will roatate at a 45 degrees angle andtranslate 8px*/ 

  }.hamburger.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg); /*sets it so that the first hamburger bar will roatate at a 45 degrees angle andtranslate 8px*/ 

  }
  /*This section will edit how the menu looks like when clicking the hamburger*/
  .nav-elem{
    position:fixed; /*when scrolling the nav bar will stay at the top of the screen*/
    left:100%; 
    gap:0;
    flex-direction: column; /* So that the dropdown menu when opening the hamburger displays as columns*/
    background-color: #f2efe6;
    width: 100%;
    text-align: center;
    top:5px;
    transition: 0.3s;
  }
  .nav-item{
    margin:16px 0;
  }
  .nav-elem.active{
    left:0;
  }
}


/*-------------------------------------------------------------------------------------*/
  /*Main Page CSS source: https://www.youtube.com/watch?v=ZdJSHEczi_0*/
/* https://www.youtube.com/watch?v=ZYV6dYtz4HA create responsive texts*/
  a {
    text-decoration: none;
  }

.home-section {
  background-repeat: no-repeat;
  width: 100vw;
  height:100vh;
  background-image: url('Images/Group.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; 
}

.section-content{
 margin-bottom: 280px;
 color:rgb(255, 255, 255);
 text-align: center;

 
}

.section-content h1{
  font-size: 7vmin;
  background-color: #1a1919b4;
}

.line {
  width: 250px;
  height: 4px;
  background: #e85a4f;
  margin: 10px auto;
  border-radius: 3px;
}

.section-content h2{
  font-size: 4vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #1a1919b4;
}

.consult{

  padding: 8px 12px;
  background:#e85a4f;
  border-radius: 20px;
  color:rgb(251, 251, 251);
  

}


/*----------------------------------------------------------------------------*/
/*meet the team and location CSS*/
/*Sets the wording format and style for the meet the team headers and paragraph - Kris*/
.meettheteamheader{ 
  font-weight: bolder;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 120%;
}

.meettheteamheader2{ 
  font-weight: bolder;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 100%;
}

.meettheteamtxt {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 100%;
  text-indent: 4.0%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other - Kris */

@media screen and (min-width: 600px) {
  .col1 {
    flex: 50%;
    padding: 5px;
  }
}

@media screen and (min-width: 600px) {
  .col2 {
    flex: 50%;
    padding: 5px;
  } 
}

@media screen and (min-width: 600px) {
  .row1 {
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  .row2 {
    display: flex;
  }
}

/*Image Sizing*/
img {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1px;
  width: 100%;
}
  /*----------------------------------------------------------------------------*/
/*Area of Practice CSS*/
/*Sets the wording format and style for the area of practice headers and paragraph - Kris*/
  .practiceareaheader{
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
  }

  .practiceareaparagraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
  }
  /*----------------------------------------------------------------------------*/
/*Reviews CSS*/
/*Sets the wording format and style for the reviews headers and paragraph - Kris*/
  .reviewsheader{
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
  }

  .reviewsparagraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
  }

  body{
    font-family: 'Work Sans', sans-serif;
  }
  /*----------------------------------------------------------------------------*/
/*FAQ CSS*/
/*Sets the wording format and style for the FAQ headers and paragraph - Kris*/

  .faq-heading{
      border-bottom: #777;
      text-align: left;
  }
  .faq-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

  .hr-line{
    width: 60%;
    margin: auto;
  }

/* /* Victoria FAQ CSS Blck text
/* /*  */
.webnots-notification-box {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #000000;
font-family: verdana, 'open sans', sans-serif;
margin-bottom: 25px;
position: relative; 
box-shadow: 0px 1px 5px rgb(211, 187, 187);
}
.webnots-notification-box:before {
font-family: FontAwesome;
font-size: 21px;
left: 14px;
position: absolute;
}
.webnots-information {
background-color: #cfc89b73;
}
.webnots-information:before {
  font-family: FontAwesome;
  font-size: 21px;
  left: 14px;
  position: absolute;
}
.webnots-question {
background-color: #cfc89b73;
}
.webnots-question:before {
content: "\f128";
margin-left: 8px;
}
.webnots-tip {
background-color: #cfc89b73;
}
.webnots-tip:before {
content: "\f0eb";
margin-left: 8px;
margin-right: 8px; 
}


/*CSS for contactus page*/

 
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: rgb(49, 45, 45);
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 30px;
  margin-top: 40px;
}

.section-header p {
  color: rgb(27, 24, 24);
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: rgb(231, 230, 230);
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #e9e0c3;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: rgb(0, 0, 0);
  font-size: 1em;
}

.contact-form {
  background-color: rgb(212, 207, 185);
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: rgb(12, 12, 11);
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #161314;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #151616;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #1a1b1b;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: rgb(179, 125, 11);
  color: #121213;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}


/* Below begins the backgroung image (page 1), source: https://www.w3schools.com/cssref/pr_background-image.asp   */
  .landscape{
    background-image: url('Images/Landscape.jpg');
  }
   

/* Ends is the background image (page1)*/
/*below defines the colours, alignment and the fint size of the headings ( & ID)*/

/*CSS Review Page - Victoria*/
.reviewparagraph {
  background-color: rgba (00004)
}


.reviewparagraph{
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #998e683b;
}

/*About Us CSS - Victoria */  
.whoarewe{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #86808063;
}

/*Services Section CSS - Alex */

/*Centers the services blocks*/
.service-section .row{
  display:block;
  display: border-box;
  width: 80%;
  margin: auto;
  text-align: center;
  color: rgb(90, 84, 73);
}

/*Style for the left most block*/
.service-left{
  background-color: #957355;
  padding: 5% 5%;
  color: white;
}

/*style for the middle block*/
.service-middle {
  background-color: rgb(50, 45, 45);
  padding: 5% 5%;
  color: white;
}

/*style for the right block*/
.service-right{
  background-color: rgb(49, 39, 39);
  padding: 5% 5%;
  color:white
}

/*style for the text "services we employ" by setting margins so the text dont appear stuck to the block and navigation bar*/
.service-text{
margin-top: 20px;;
margin-bottom: 20px;
}