


/*Navigation Bar CSS

/*Make the nav bar appear at the very edge of the page so there are no awk spaces*/
body {
padding: 16px;
margin-top: 25px;

}

/*Navigation Bar CSS

/*Nav bar style*/ 
.NavBar {
  background-color: #ffffff; /*Sets background color*/
  overflow: hidden;
  position: fixed;
  top: 0;
  
}

.NavBar a{

  display: block; /*displays the element as a block element*/
  color: rgba(186, 170, 141, 0.841); /*changes the color of font*/
  padding: 15px 30px; /*increase the padding*/
  float: left; /* make the nav bar appear on the left-hand side*/
  font-size: 17px; /*changes the font size of the NAV bar text*/
  text-decoration: none; /* remove the underline over the NAV bar text */
  font-family: "Montserrat", sans-serif /*Change font*/
}

/* Creates a hover effect on the navigation bar when the user hovers over the navigation elements*/
.NavBar a:hover {
  background-color: rgb(217, 187, 113);
  color: rgba(12, 12, 11, 0.673);
}

.NavBar a.active {
  background-color: #04AA6D;
  color: white;
}

.NavBar .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .NavBar a:not(:first-child) {display: none;}
  .NavBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .NavBar.responsive {position: relative;}
  .NavBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .NavBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Website Layout */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }
  
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  /* Responsive layout */
  @media (max-width: 600px) {
  .column {
    width: 100%;
  }
  }

  .mainpageheader {
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
    padding-right: 50%;
  }

  .mainpageparagraph { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
    padding-right: 50%;
  }

  .buttons button{
    width: 400px;
    display: inline;
    background-color: #5e858f; 
    border: 1px solid rgb(10, 19, 10); 
    color: white; /* White text */
    cursor:pointer; /* Pointer/hand icon */
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 90%;
  }

  .meettheteamheader{ 
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
  }

  .meettheteamparagraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
  }

  .practiceareaheader{
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
  }

  .practiceareaparagraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
  }

  .reviewsheader{
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 200%;
  }

  .reviewsparagraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
  }

  body{
    font-family: 'Work Sans', sans-serif;
  }

  .faq-heading{
      border-bottom: #777;
      text-align: left;
  }
  .faq-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

  .hr-line{
    width: 60%;
    margin: auto;
  }

  .img{
    max-width: 50%;
    height: auto;
    width: 100;
    height: 133;
  }

  .API {
  color:darkred;
  font-family: Papyrus;
  width: 600px;
  height: 600px;
  text-align: right;
  }

  .body {
    background-image: url("Images/Group.jpg");
    background-color: #cccccc;
   }